.burger {
  padding: 0.8rem 0;
  width: 2.4rem;
  cursor: pointer;
}

.burger span {
  display: block;
  position: relative;
  width: 100%;
  height: 0.3rem;
  background-color: var(--light-gray);
}

.burger span::after,
.burger span::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: var(--light-gray);
}

.burger span::before {
  top: -0.6rem;
}
.burger span::after {
  top: 0.6rem;
}
